= simple_form_for [:dashboard, @artwork], class: 'form-horizontal' do |f|
  = f.input :name, label: "作品名称"
  = f.input :desc, label: "作品描述"
  = f.input :images, as: :file
  .row.text-center
    = f.submit 'Save', class: 'btn btn-primary'
