= form_for [:dashboard, @artwork] do |f|
  .field
    = f.label :name
    = f.text_area :name
  .field
    = f.label :desc
    = f.text_area :desc
  .field
    = f.label :images
    = f.text_area :images
  .actions
    = f.submit 'Save'
