<%= link_to "新artwork", new_dashboard_artwork_path %>

 <ul class="item-list">
   <% @artworks.each do |artwork| %>
     <li>
         <a href="<%= edit_dashboard_artwork_path(artwork) %>" class="img">
             <%= image_tag artwork.cover.url, height: 206, width: 363 %>
         </a>
         <a href="<%= edit_dashboard_artwork_path(artwork) %>" class="title">

           <%= artwork.desc %>
         </a>
     </li>
   <% end %>
 </ul>
