<div class="page-content">
    <% @channels.each do |c| %>
      <div class="items">
      <a href="/channel-detail" style="background-image: url(<%= c.image.url %>);">
            <img src="<%= c.image.url %>" alt="">
            <span class="title"><%= c.en_name %></span>
            <span class="cn-title"><%= c.name %></span>
            <span class="shares"><span><%= c.artworks.count %></span> shares</span>
        </a>
      </div>
    <% end %>
    <div class="items">
        <a href="/channel-detail" style="background-image: url(<%= asset_path('demo/atart频道_03.jpg') %>);">
            <img src="<%= asset_path('demo/atart频道_03.jpg') %>" alt="">
            <span class="title">ART</span>
            <span class="cn-title">艺术</span>
            <span class="shares"><span>718</span> shares</span>
        </a>
    </div>
    <div class="items">
        <a href="/channel-detail" style="background-image: url(<%= asset_path('demo/atart频道_05.jpg') %>);">
            <img src="<%= asset_path('demo/atart频道_05.jpg') %>" alt="">
            <span class="title">DESIGN</span>
            <span class="cn-title">设计</span>
            <span class="shares"><span>718</span> shares</span>
        </a>
    </div>
    <div class="items">
        <a href="/channel-detail" style="background-image: url(<%= asset_path('demo/atart频道_09.jpg') %>);">
            <img src="<%= asset_path('demo/atart频道_09.jpg') %>" alt="">
            <span class="title">TECHNOLOGY</span>
            <span class="cn-title">科技</span>
            <span class="shares"><span>718</span> shares</span>
        </a>
    </div>
    <div class="items">
        <a href="/channel-detail" style="background-image: url(<%= asset_path('demo/atart频道_12.jpg') %>);">
            <img src="<%= asset_path('demo/atart频道_12.jpg') %>" alt="">
            <span class="title">ARCHITECTURE</span>
            <span class="cn-title">建筑</span>
            <span class="shares"><span>718</span> shares</span>
        </a>
    </div>

</div>
