	<div class="page-content">
		<ul class="item-list">
			<li>
				<a href="#img-item" class="img">
					<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg') %>" alt="atart发现_03.jpg">
				</a>
				<span class="poster">
					<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg') %>" alt="" class="avatar">
					<span class="name">done</span>
				</span>
				<span class="location">
					ATH
				</span>
				<span class="progress">
					<span class="funded">85% funded</span>
					<span class="val">$32,111 USD</span>
					<span class="time">6 hoursleft</span>
					<span class="bar">
						<span class="done" style="width: 85%;"></span>
					</span>
				</span>
			</li>
				<li>
					<a href="#img-item" class="img">
						<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg') %>" alt="atart发现_03.jpg">
					</a>
					<span class="poster">
						<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg') %>" alt="" class="avatar">
						<span class="name">done</span>
					</span>
					<span class="location">
						ATH
					</span>
					<span class="progress">
						<span class="funded">85% funded</span>
						<span class="val">$32,111 USD</span>
						<span class="time">6 hoursleft</span>
						<span class="bar">
							<span class="done" style="width: 85%;"></span>
						</span>
					</span>
				</li>
					<li>
						<a href="#img-item" class="img">
							<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg') %>" alt="atart发现_03.jpg">
						</a>
						<span class="poster">
							<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg') %>" alt="" class="avatar">
							<span class="name">done</span>
						</span>
						<span class="location">
							ATH
						</span>
						<span class="progress">
							<span class="funded">85% funded</span>
							<span class="val">$32,111 USD</span>
							<span class="time">6 hoursleft</span>
							<span class="bar">
								<span class="done" style="width: 85%;"></span>
							</span>
						</span>
					</li>
						<li>
							<a href="#img-item" class="img">
								<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg')%>" alt="atart发现_03.jpg">
							</a>
							<span class="poster">
								<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg')%>" alt="" class="avatar">
								<span class="name">done</span>
							</span>
							<span class="location">
								ATH
							</span>
							<span class="progress">
								<span class="funded">85% funded</span>
								<span class="val">$32,111 USD</span>
								<span class="time">6 hoursleft</span>
								<span class="bar">
									<span class="done" style="width: 85%;"></span>
								</span>
							</span>
						</li>
							<li>
								<a href="#img-item" class="img">
									<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg')%>" alt="atart发现_03.jpg">
								</a>
								<span class="poster">
									<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg')%>" alt="" class="avatar">
									<span class="name">done</span>
								</span>
								<span class="location">
									ATH
								</span>
								<span class="progress">
									<span class="funded">85% funded</span>
									<span class="val">$32,111 USD</span>
									<span class="time">6 hoursleft</span>
									<span class="bar">
										<span class="done" style="width: 85%;"></span>
									</span>
								</span>
							</li>
								<li>
									<a href="#img-item" class="img">
										<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg')%>" alt="atart发现_03.jpg">
									</a>
									<span class="poster">
										<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg')%>" alt="" class="avatar">
										<span class="name">done</span>
									</span>
									<span class="location">
										ATH
									</span>
									<span class="progress">
										<span class="funded">85% funded</span>
										<span class="val">$32,111 USD</span>
										<span class="time">6 hoursleft</span>
										<span class="bar">
											<span class="done" style="width: 85%;"></span>
										</span>
									</span>
								</li>
		</ul>
	</div>
</body>
</html>

