	<div class="page-content">
		<ul class="item-list">
			<li>
				<a href="#img-item" class="img">
					<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg') %>" alt="demo/atart发现_03.jpg') %>">
				</a>
				<span class="poster">
					<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg') %>" alt="" class="avatar">
					<span class="name">done</span>
				</span>
				<span class="location">
					ATH
				</span>
				<span class="price">$30,000 USD</span>
				<span class="cart">1</span>
			</li>
				<li>
					<a href="#img-item" class="img">
						<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg') %>" alt="demo/atart发现_03.jpg') %>">
					</a>
					<span class="poster">
						<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg') %>" alt="" class="avatar">
						<span class="name">done</span>
					</span>
					<span class="location">
						ATH
					</span>
					<span class="price">$30,000 USD</span>
					<span class="cart"></span>
				</li>
					<li>
						<a href="#img-item" class="img">
							<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg') %>" alt="demo/atart发现_03.jpg') %>">
						</a>
						<span class="poster">
							<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg') %>" alt="" class="avatar">
							<span class="name">done</span>
						</span>
						<span class="location">
							ATH
						</span>
						<span class="price">$30,000 USD</span>
						<span class="cart"></span>
					</li>
						<li>
							<a href="#img-item" class="img">
								<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg') %>" alt="demo/atart发现_03.jpg') %>">
							</a>
							<span class="poster">
								<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg') %>" alt="" class="avatar">
								<span class="name">done</span>
							</span>
							<span class="location">
								ATH
							</span>
							<span class="price">$30,000 USD</span>
							<span class="cart"></span>
						</li>
							<li>
								<a href="#img-item" class="img">
									<img width="363" height="206" src="<%= asset_path('demo/atart发现_03.jpg') %>" alt="demo/atart发现_03.jpg') %>">
								</a>
								<span class="poster">
									<img width="39" height="39" src="<%= asset_path('demo/atart商城_18.jpg') %>" alt="" class="avatar">
									<span class="name">done</span>
								</span>
								<span class="location">
									ATH
								</span>
								<span class="price">$30,000 USD</span>
								<span class="cart"></span>
							</li>
		</ul>
	</div>

