= link_to "New Event", new_admin_event_path, class: 'btn btn-primary pull-right'

%table.table
  %thead
    %tr
      %th 序号
      %th 名称
      %th 画廊
      %th 艺术家
      %th 地址
      %th 经纬度
      %th 时间
      %th 操作

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.gallery
        %td= event.artist_name
        %td= event.address
        %td= event.lng
        %td= event.lat
        %td= event.begin_at
        %td= event.end_at
