= image_tag current_user.avatar
= form_tag dashboard_update_avatar_path, method: :patch, multipart: true do
  = file_field_tag :avatar
  %br
  = submit_tag "更新头像"

= form_tag dashboard_change_password_path, method: :patch do
  %br
  = text_field_tag "password"
  %br
  = text_field_tag "password_confirmation"
  = submit_tag "新密码"

