<div class="work-large-banner">
    <div class="work-large-banner-inner">
        <%= image_tag @artwork.images.try(:first).try(:url) %>
    </div>
</div>
<div class="page-content work-detail clearfix">
  <p class="work-title"> <%= @artwork.name %> <small>
    <%= image_tag "location.png" %>
    <%= @artwork.address %>
</small></p>
    <div class="work-meta">
        <a href="/users/<%= @artwork.user.id %>" class="avatar">
          <%= image_tag @artwork.user.avatar.thumb.url %>
        </a>
        <div class="work-information">
            <div class="username"><%= @artwork.user.nickname %></div>
            <p class="upload-date">上传时间：<%= @artwork.created_at.strftime("%Y-%m-%d") %></p>
        </div>
        <a class="add-people" href="/users/<%= @artwork.user.id %>/fav">
          <%= image_tag "add-people.png" %>
      </a>
    </div>

    <div class="onsite-detail">
        <p class="description">
        <%= @artwork.desc %>
        </p>
    </div>

    <div class="work-vote">
        <div class="vote-detail">
            <p>表个态</p>
            <div class="vote-actions clearfix">
                <div class="vote-action">
                    <a class="thumb-up" href="#"></a>
                    <p class="vote-count">120</p>
                </div>
                <div class="vote-action">
                    <a class="potato" href="#"></a>
                    <p class="vote-count">120</p>
                </div>
                <div class="vote-action">
                    <a class="heart" href="#"></a>
                    <p class="vote-count">120</p>
                </div>
                <div class="vote-action">
                    <a class="fuck" href="#"></a>
                    <p class="vote-count">120</p>
                </div>
            </div>
        </div>
    </div>

    <div class="comments">
        <p class="title">用户评价 (123)</p>
        <ul>
            <li>
                <a href="" class="avatar">
                    <img src="assets/pic3.png" alt=""/>
                </a>
                <div class="username">Chris</div>
                <p class="comments">眾鳥高飛盡，孤雲獨去閒。那一群群的飛鳥都已經振翅高飛，不知去向。天際僅剩的一片浮雲也十分悠哉地往遠方飄去。相看兩不厭，只有敬亭山。</p>
                <div class="actions">
                    <a href="" class="edit"></a>
                    <a href="" class="heart"></a>
                    <a href="" class="reply"></a>
                </div>
            </li>
            <li>
                <a href="" class="avatar">
                    <img src="assets/pic3.png" alt=""/>
                </a>
                <div class="username">Chris</div>
                <p class="comments">眾鳥高飛盡，孤雲獨去閒。那一群群的飛鳥都已經振翅高飛，不知去向。天際僅剩的一片浮雲也十分悠哉地往遠方飄去。相看兩不厭，只有敬亭山。</p>
                <div class="actions">
                    <a href="" class="edit"></a>
                    <a href="" class="heart"></a>
                    <a href="" class="reply"></a>
                </div>
            </li>
            <li>
                <a href="" class="avatar">
                    <img src="assets/pic3.png" alt=""/>
                </a>
                <div class="username">Chris</div>
                <p class="comments">眾鳥高飛盡，孤雲獨去閒。那一群群的飛鳥都已經振翅高飛，不知去向。天際僅剩的一片浮雲也十分悠哉地往遠方飄去。相看兩不厭，只有敬亭山。</p>
                <div class="actions">
                    <a href="" class="edit"></a>
                    <a href="" class="heart"></a>
                    <a href="" class="reply"></a>
                </div>
            </li>
        </ul>
        <div class="add-comment">
            <form action="">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button class="comment-btn">发布评论</button>
            </form>
        </div>

    </div>
</div>

