= simple_form_for [:admin, @artist], html: { class: 'form-horizontal' } do |f|
  = f.input :name, label: "艺术家姓名"
  = f.input :short_desc, label: "描述"
  = f.input :desc, label: "详情"
  .row.text-center
    = f.submit "保存", class: 'btn btn-primary'
