= form_for [:admin, @artist], html: { class: 'uk-form uk-form-horizontal' } do |f|

  .uk-form-row
    = f.label :name, "姓名", class: 'uk-form-label'
    = f.text_field :name, class: 'uk-form-control'
  .uk-form-row
    = f.label :short_desc, "描述", class: 'uk-form-label'
    = f.text_area :short_desc, class: 'uk-form-control'
  .uk-form-row
    = f.label :desc, class: 'uk-form-label'
    = f.text_area :desc, class: 'uk-form-control'
  .uk-form-row
    = f.submit "保存", class: 'uk-button uk-button-primary uk-container-center'
