%h1 Listing artists

%table
  %thead
    %tr
      %th Name
      %th Short desc
      %th Desc
      %th Artworks count
      %th
      %th
      %th

  %tbody
    - @artists.each do |artist|
      %tr
        %td= artist.name
        %td= artist.short_desc
        %td= artist.desc
        %td= artist.artworks_count
        %td= link_to 'Show', admin_artist_path(artist)
        %td= link_to 'Edit', edit_admin_artist_path(artist)
        %td= link_to 'Destroy', admin_artist_path, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Artist', new_admin_artist_path
