<div class="me-detail-page-content">
	<div class="page-content">

		<div class="detail">
            <div class="avatar-box">
                <%= image_tag @user.avatar.url %>
                <a href=""><%= @user.name %></a>
                <a href="" class="add-people"><%= @user.fav_count %></a>
                <a href="" class="people-count"><%= @user.fav_other_count %></a>
            </div>
            <div class="desc">
              <%= @user.desc %>
            </div>
		</div>

		<div class="show-list">
            <div class="row">
                <div class="item" style="background-image: url(<%= asset_path('pic0.png') %>); width: 40%;">
                </div>
                <div class="item" style="background-image: url(<%= asset_path('pic1.png') %>); width: 60%">
                    <p>
                        卡特琳娜毕业于Samara艺术学校绘画专业，Petrov-Vodkin艺术学院设计系及
                        Michael Musorin摄影学院，她是俄罗斯最优秀的当代摄影艺术家之一。 卡特
                        琳娜获得2015年德国Cranach艺术奖第一名；2014年莫斯科国际摄影奖艺术
                        摄影类第一名；</p>
                </div>
            </div>
            <div class="row">
                <div class="item" style="background-image: url(<%= asset_path('pic2.png') %>); width: 40%;height: 400px">
                </div>
                <div class="item" style="background-image: url(<%= asset_path('pic2.png') %>); width: 40%;height: 400px">
                </div>
            </div>
            <div class="row">
                <div class="item" style="background-image: url(<%= asset_path('pic1.png') %>); width: 55%; height: 500px">
                </div>
                <div class="item" style="background-image: url(<%= asset_path('pic3.png') %>); width: 45%; height: 500px;">
                </div>
            </div>
		</div>
	</div>
</div>

		

