%p#notice= notice

%p
  %b Fund raise:
  = @fund_raise_support.fund_raise_id
%p
  %b User:
  = @fund_raise_support.user_id
%p
  %b Amount:
  = @fund_raise_support.amount
%p
  %b Message:
  = @fund_raise_support.message
%p
  %b Status:
  = @fund_raise_support.status
%p
  %b Pay method:
  = @fund_raise_support.pay_method
%p
  %b Pay bank:
  = @fund_raise_support.pay_bank

= link_to 'Edit', edit_fund_raise_support_path(@fund_raise_support)
\|
= link_to 'Back', fund_raise_supports_path
