<div class="banner-list">
	<ul>
		<li>
			<a class="title" href="raise.html" style="background-image: url(<%= asset_path('banner_1.png') %>);">
				<img src="<%= asset_path('banner_1.png') %>" alt="">
                <p class="vertical">
                    现<br/>场
                </p>
				<span class="desc">
					艺术家高润个人展
					<br><span class="more">more</span>
				</span>
                <a href="" class="location">
                    <span>photo by attilio maranzano / courtesy fondazione prada</span>
                </a>
			</a>
		</li>
		<li>
			<a class="title" href="raise.html" style="background-image: url(<%= asset_path('banner_1.png') %>);">
				<img src="<%= asset_path('banner_1.png') %>" alt="">
                <p class="vertical">
                    现<br/>场
                </p>
				<span class="desc">
					艺术家高润个人展
					<br><span class="more">more</span>
				</span>
                <a href="" class="location">
                    <span>photo by attilio maranzano / courtesy fondazione prada</span>
                </a>
			</a>
		</li>
		<li>
			<a class="title" href="raise.html" style="background-image: url(<%= asset_path('banner_1.png') %>);">
				<img src="<%= asset_path('banner_1.png') %>" alt="">
                <p class="vertical">
                    现<br/>场
                </p>
				<span class="desc">
					艺术家高润个人展
					<br><span class="more">more</span>
				</span>
                <a href="" class="location">
                    <span>photo by attilio maranzano / courtesy fondazione prada</span>
                </a>
			</a>
		</li>
	</ul>
</div>
