<div class="me-detail-page-content">
	<div class="page-content">

		<div class="location-box">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?q=%E6%B5%99%E6%B1%9F%E7%9C%81%E6%9D%AD%E5%B7%9E%E5%B8%82%E6%B1%9F%E5%B9%B2%E5%8C%BA+%E9%92%B1%E6%B1%9F%E6%96%B0%E5%9F%8E%E5%9F%8E%E6%98%9F%E8%B7%AF89%E5%8F%B7&amp;hl=zh-CN&amp;ie=UTF8&amp;sll=35.86166,104.195397&amp;sspn=48.093689,93.076172&amp;brcurrent=3,0x344c99a9066e532d:0x6ac7a6fdfa6d9f6e,0,0x344bb629439aaa99:0xa7bfd183824de83a%3B5,0,0&amp;hnear=%E6%B5%99%E6%B1%9F%E7%9C%81%E6%9D%AD%E5%B7%9E%E5%B8%82%E6%B1%9F%E5%B9%B2%E5%8C%BA%E9%92%B1%E6%B1%9F%E8%B7%AF%E5%9F%8E%E6%98%9F%E8%B7%AF&amp;t=m&amp;hq=&amp;z=14&amp;iwloc=A&amp;ll=30.249672,120.208147&amp;output=embed"></iframe>
        </div>

		<div class="show-list">
            <div class="row">
                <div class="item" style="background-image: url(<%= asset_path('pic0.png') %>); width: 40%;">
                </div>
                <div class="item" style="background-image: url(<%= asset_path('pic1.png') %>); width: 60%">
                    <p>
                        卡特琳娜毕业于Samara艺术学校绘画专业，Petrov-Vodkin艺术学院设计系及
                        Michael Musorin摄影学院，她是俄罗斯最优秀的当代摄影艺术家之一。 卡特
                        琳娜获得2015年德国Cranach艺术奖第一名；2014年莫斯科国际摄影奖艺术
                        摄影类第一名；</p>
                </div>
            </div>
            <div class="row">
                <div class="item" style="background-image: url(<%= asset_path('pic2.png') %>); width: 40%;height: 400px">
                </div>
                <div class="item" style="background-image: url(<%= asset_path('pic2.png') %>); width: 40%;height: 400px">
                </div>
            </div>
            <div class="row">
                <div class="item" style="background-image: url(<%= asset_path('pic1.png') %>); width: 55%; height: 500px">
                </div>
                <div class="item" style="background-image: url(<%= asset_path('pic3.png') %>); width: 45%; height: 500px;">
                </div>
            </div>
		</div>
	</div>
</div>

		
