<div class="banner-list">
  <ul>
    <% @events.each do |e| %>
      <li>
      <a class="title event" href="raise.html" id="event-<%= e.id %>" style="background-image: url(<%= e.gallery.url %>);">
      <%= image_tag e.gallery.url %>
      <p class="vertical">
      现<br/>场
      </p>
      <span class="desc">
        <%= e.name %>
        <br><span class="more">more</span>
      </span>
      <a href="" class="location">
        <span>photo by <%= e.artist_name %> / courtesy fondazione prada</span>
      </a>
    </a>
    </li>
  <% end %>

    <li>
    <a class="title" href="raise.html" style="background-image: url(<%= asset_path('banner_1.png') %>);">
      <img src="<%= asset_path('banner_1.png') %>" alt="">
      <p class="vertical">
      现<br/>场
      </p>
      <span class="desc">
        艺术家高润个人展
        <br><span class="more">more</span>
      </span>
      <a href="" class="location">
        <span>photo by attilio maranzano / courtesy fondazione prada</span>
      </a>
    </a>
    </li>

    <li>
    <a class="title" href="raise.html" style="background-image: url(<%= asset_path('banner_1.png') %>);">
      <img src="<%= asset_path('banner_1.png') %>" alt="">
      <p class="vertical">
      现<br/>场
      </p>
      <span class="desc">
        艺术家高润个人展
        <br><span class="more">more</span>
      </span>
      <a href="" class="location">
        <span>photo by attilio maranzano / courtesy fondazione prada</span>
      </a>
    </a>
    </li>
    <li>
    <a class="title" href="raise.html" style="background-image: url(<%= asset_path('banner_1.png') %>);">
      <img src="<%= asset_path('banner_1.png') %>" alt="">
      <p class="vertical">
      现<br/>场
      </p>
      <span class="desc">
        艺术家高润个人展
        <br><span class="more">more</span>
      </span>
      <a href="" class="location">
        <span>photo by attilio maranzano / courtesy fondazione prada</span>
      </a>
    </a>
    </li>
    <li>
    <a class="title" href="raise.html" style="background-image: url(<%= asset_path('banner_1.png') %>);">
      <img src="<%= asset_path('banner_1.png') %>" alt="">
      <p class="vertical">
      现<br/>场
      </p>
      <span class="desc">
        艺术家高润个人展
        <br><span class="more">more</span>
      </span>
      <a href="" class="location">
        <span>photo by attilio maranzano / courtesy fondazione prada</span>
      </a>
    </a>
    </li>
    <li>
    <a class="title" href="raise.html" style="background-image: url(<%= asset_path('banner_1.png') %>);">
      <img src="<%= asset_path('banner_1.png') %>" alt="">
      <p class="vertical">
      现<br/>场
      </p>
      <span class="desc">
        艺术家高润个人展
        <br><span class="more">more</span>
      </span>
      <a href="" class="location">
        <span>photo by attilio maranzano / courtesy fondazione prada</span>
      </a>
    </a>
    </li>
  </ul>
</div>

<%= javascript_tag do %>
  var markers = <%= raw @markers.to_json %>;
  for(event_id in markers){
    ms = markers[event_id];
    ms.forEach(function (m) {
      div = $("<div class='marker'></div>");
      div.css('top', m.y + "px");
      div.css('left', m.x + "px");
      div.css('background-color', 'orange').css('border-radius', '50%').css('border', '1px solid black').css('width', '30px').css('height', '30px').css('cursor', 'pointer');
      div.mouseover(function(){
      $(this).animate({'width': '40px', 'height': '40px'}, 'fast')
      }).mouseout(function(){
      $(this).animate({'width': '30px', 'height': '30px'}, 'fast')
      }).click(function(){ window.open(m.link, '_blank'); return false; });
      $('#event-' + event_id).append(div);
    });
  }
<% end %>
