%ul.nav.nav-pills
  %li= link_to "后台管理首页", admin_path
  %li= link_to "商品管理", admin_products_path
  %li= link_to "艺术家管理", admin_artists_path
  %li= link_to "用户管理", admin_users_path
  %li= link_to "作品管理", admin_artworks_path
  %li= link_to "现场管理", admin_events_path
  %li= link_to "众筹管理", admin_artworks_path
  %li= link_to "频道管理", admin_channels_path
  %li= link_to "评论管理", admin_comments_path
  %li= link_to "我的订单", admin_orders_path
  %li= link_to "统计分析", admin_statistics_path

