%ul.uk-nav.fc-nav{'data-uk-nav' => true}
  %li.uk-nav-header Defaults
  %li.uk-active
    %li= link_to "我的发布", dashboard_artworks_path
    %li= link_to "我的订单", dashboard_orders_path
    %li= link_to "我的关注", dashboard_bookmarks_path
    %li= link_to "我的收藏", dashboard_bookmarks_path
    %li= link_to "消息中心", dashboard_messages_path
    %li= link_to "账户设置", dashboard_settings_path
