<div class="page-content work-detail clearfix">
    <div class="order-content">
       <% if @order.new_placed? %>
        <p>您的订单已生成， 编号#<%= @order.decorated_id %>, 请尽快支付</p>
      <% end %>
        <table class="format">
            <thead>
                <tr>
                    <th>相关艺术品</th>
                    <th>艺术家</th>
                    <th>价格</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
            <tr>
              
                <td><%= @order.product.name %></td>
                <td><%= @order.product.artist.name %></td>
                <td><%= @order.price %></td>
                <td><%= 1 %></td>
            </tr>
            </tbody>
        </table>
        <div class="actions">
          <% if @order.new_placed? %>
            <button class="large-red-btn", id='pay_btn' data-order-id="<%= @order.id %>">支付宝支付</button>
          <% end %>
        </div>
    </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('#pay_btn').click(function(){
    $.ajax({
      url: "/orders/" + $(this).data('order-id') + "/confirm_order",
      method: "PATCH",
    }).done(function(response){
      if(response.url){ window.location.href = response.url; }
      })
      })});
<% end %>
