%table.table
  %thead
    %tr
      %th 序号
      %th 上传者
      %th 作品名称
      %th 作品图片
      %th 操作

  %tbody
    - @artworks.each do |artwork|
      %tr
        %td= artwork.name
        %td= artwork.desc
        %td= artwork.user_id
        %td
          - artwork.images.each do |i|
            = image_tag i.thumb.url


= paginate @artworks
