%p#notice= notice

%p
  %b Name:
  = @artwork.name
%p
  %b Desc:
  = @artwork.desc
%p
  %b Artist:
  = @artwork.artist_id
%p
  %b Images:
  = @artwork.images

= link_to 'Edit', edit_artwork_path(@artwork)
\|
= link_to 'Back', artworks_path
