= simple_form_for [:admin, @product], html: { class: 'form-horizontal', multipart: true }, defaults: { wrapper_html: { class: 'col-md-6'} }do |f|
  = f.input :artist_id, collection: Artist.all, value_method: :id, :label => "艺术家"
  = f.input :name, label: "名称", :as => :string
  = f.input :en_name, label: "英文名称", :as => :string
  = f.input :width, label: "宽度", :as => :string
  = f.input :height, label: "高度", :as => :string
  = f.input :price, label: "价格", :as => :integer
  = f.input :thickness, label: "厚度", :as => :string
  = f.input :date_back, label: "年份", :as => :string
  = f.input :style, collection: Product::STYLE, :label => "风格"
  = f.input :material, collection: Product::MATERIAL, :label => "材质"

  = f.input :short_desc, label: "简介", as: :text, wrapper_html: { class: "col-md-12" }
  = f.input :desc, label: "详情", as: :text, wrapper_html: { class: "col-md-12" }
  = f.input :images, input_html: { multiple: true, onchange: 'preview_image(this)', id: 'image_selector' }, as: :file

  - @product.images.each_with_index do |img, i|
    .col-md-3#image_data_preview
      = image_tag img.url, width: 140, height: 160, class: 'image_preview', data: { 'index' => i}


  .clearfix

  .row.text-center
    = f.submit "保存", class: 'btn btn-primary'

- if @product.persisted?
  :javascript
    $(document).ready(function(){ 
      $("body").on('click', ".image_preview", function(){
        remove_image($(this))
      })
    })
    function remove_image(dom){
      $.ajax({
        url: "/admin/products/#{@product.id}/remove_image?i=" + dom.data('index'),
        method: "PUT"
      })
    }
:javascript
  function preview_image(input){
    var image_data = "";
    var rank_data = "";
      for(var i=0;i<input.files.length;i++)
        {
          var file = input.files[i];
            if(!/image\/\w+/.test(file.type)){
              alert("请确保文件为图像类型");
                return false;
              }
              var reader = new FileReader();
              reader.readAsDataURL(file);
              reader.onload = function(e){
              dom = $( '<div class="col-md-3"><img src="'+ e.target.result+'" class="image_preivew" data-persisted="0" width=160 height=140/></div>');
              $('#image_data').append(dom);
              }
        }

  }
