= simple_form_for [:admin, @product], html: { class: 'form-horizontal', multipart: true }, defaults: { wrapper_html: { class: 'col-md-6'} }do |f|
  = f.input :artist_id, collection: Artist.all, value_method: :id
  = f.input :name, label: "名称", :as => :string
  = f.input :price, label: "价格", :as => :integer
  = f.input :desc, label: "详情", as: :string
  = f.input :images, multiple: true, onchange: 'preview_image(this)', as: :file

  #image_data
    - f.object.images.each do |i|
      = image_tag i.url

  .row
    = f.submit "保存", class: 'btn btn-primary'

:javascript
  function preview_image(input){
    var image_data = "";
    var rank_data = "";
      for(var i=0;i<input.files.length;i++)
        {
          var file = input.files[i];
            if(!/image\/\w+/.test(file.type)){
              alert("请确保文件为图像类型");
                return false;
              }
              var reader = new FileReader();
              reader.readAsDataURL(file);
              reader.onload = function(e){
                image_data += '<div class="uk-width-1-4"><img src="'+ e.target.result+'" class=""/></div>';
                $('#image_data').append(image_data)
              }
            }
  }
