= link_to "录入众筹", new_admin_fund_raising_path, class: 'btn btn-primary pull-right'

%table.table
  %thead
    %tr
      %th 序号
      %th 名称
      %th 图片
      %th 总数
      %th 当前
      %th 开始
      %th 结束
      %th 发布？
      %th 单笔
      %th

  %tbody
    - @fund_raisings.each_with_index do |fund_raising, index|
      %tr
        %td= index + 1
        %td= fund_raising.name
        %td= image_tag fund_raising.image.thumb.url
        %td= fund_raising.target
        %td= fund_raising.current_raised
        %td= fund_raising.begin_at.to_s(:tf_db_no_sec)
        %td= fund_raising.end_at.to_s(:tf_db_no_sec)
        %td= check_box_tag "", "", fund_raising.enabled?, class: 'fund_raising_enable_toggle check_box_toggle', data: { path: toggle_admin_fund_raising_path(fund_raising) }
        %td= fund_raising.each_support
        %td
          = link_to 'Show', admin_fund_raising_path(fund_raising)
          = link_to 'Edit', edit_admin_fund_raising_path(fund_raising)
          = link_to 'Destroy', admin_fund_raising_path(fund_raising), :method => :delete, :data => { :confirm => 'Are you sure?' }


