%p#notice= notice

%p
  %b Name:
  = @fund_raising.name
%p
  %b En name:
  = @fund_raising.en_name
%p
  %b Image:
  = @fund_raising.image
%p
  %b Moderator:
  = @fund_raising.moderator_id
%p
  %b User:
  = @fund_raising.user_id
%p
  %b Target:
  = @fund_raising.target
%p
  %b Current raised:
  = @fund_raising.current_raised
%p
  %b Begin at:
  = @fund_raising.begin_at
%p
  %b End at:
  = @fund_raising.end_at
%p
  %b Story:
  = @fund_raising.story
%p
  %b Each support:
  = @fund_raising.each_support

= link_to 'Edit', edit_fund_raising_path(@fund_raising)
\|
= link_to 'Back', fund_raisings_path
