= simple_form_for [:admin, @channel], html: { class: 'form-horizontal' }, defaults: { wrapper_html: { class: 'col-md-6'} }  do |f|
  = f.input :name, label: "名称"
  = f.input :en_name, label: "英文名字"
  = f.input :image, label: "图片", as: :file
  - if @channel.image
    = image_tag @channel.image.thumb.url

  .row
    = f.submit "保存", class: 'btn btn-primary'


- if @channel.persisted?
  %table.table
    %thead
      %th 作品名
      %th 上传人
      %th 增加时间
      %th
    - @channel.channels_artworks.each do |ca|
      %tr
        %td= ca.artwork.name
        %td= ca.artwork.user.name
        %td= ca.created_at
        %td= link_to "删除", admin_channels_artwork_path(ca), method: :patch


  = simple_form_for [:admin, @channel.channels_artworks.build] do |f|
    = f.input :artwork_id
    = f.submit "提交"


