= link_to "New Channel", new_admin_channel_path, class: 'btn btn-primary pull-right'

%table.table
  %thead
    %tr
      %th 序号
      %th 名称
      %th 英文名称
      %th 作品数量
      %th Cover
      %th 可见
      %th 操作

  %tbody
    - @channels.each do |channel|
      %tr
        %td= channel.id
        %td= channel.name
        %td= channel.en_name
        %td= channel.artworks.count
        %td= image_tag channel.image.thumb.url
        %td
          = check_box_tag "", "", channel.enabled?, class: 'channel_enable_toggle check_box_toggle', data: { path: toggle_admin_channel_path(channel) }
        %td
          = link_to "编辑", edit_admin_channel_path(channel)
