%table.uk-table
  %thead
    %tr
      %th Bookmarkable
      %th Bookmarkable type
      %th User
      %th
      %th
      %th

  %tbody
    - @bookmarks.each do |bookmark|
      %tr
        %td= bookmark.bookmarkable_id
        %td= bookmark.bookmarkable_type
        %td= bookmark.user_id
        %td
          = link_to bookmark.bookmarkable.name, send("#{bookmark.bookmarkable_type.downcase}_path", bookmark)
          = link_to "删除", dashboard_bookmark_path(bookmark), method: :delete

