= link_to "录入众筹", new_dashboard_fund_raising_path, class: 'btn btn-primary pull-right'

%table.table
  %thead
    %tr
      %th 序号
      %th 名称
      %th 图片
      %th 总数
      %th 当前
      %th 开始
      %th 单笔
      %th

  %tbody
    - @fund_raisings.each_with_index do |fund_raising, index|
      %tr
        %td= index + 1
        %td= fund_raising.name
        %td= image_tag fund_raising.image.thumb.url
        %td= fund_raising.target
        %td= fund_raising.current_raised
        %td= fund_raising.begin_at.to_s(:tf_db_no_sec)
        %td= fund_raising.end_at.to_s(:tf_db_no_sec)
        %td
          = link_to 'Show', dashboard_fund_raising_path(fund_raising)
          = link_to 'Edit', edit_dashboard_fund_raising_path(fund_raising)
          = link_to 'Destroy', dashboard_fund_raising_path(fund_raising), :method => :delete, :data => { :confirm => 'Are you sure?' }




%table.table
  %thead
    %tr
      %th 序号
      %th 名称
      %th 状态
      %th 金额
      %th

  %tbody
    - @fund_raise_supports.each_with_index do |frs, index|
      %tr
        %td= index + 1
        %td= frs.fund_raising.name
        %td= frs.status_in_readable_format
        %td= frs.amount
        %td
