<div class="header">
    <div class="header-inner pure-g .pure-u-xl-1" id="header">
        <div class="logo-n-search pure-u-1 pure-u-md-3-5">
            <a class="logo" href="/">
                <img src="<%= asset_path('logo.png') %>" alt="Logo"/>
            </a>
            <div class="search-form">
                <form>
                    <input class="search-input" type="text"/>
                    <input class="search-btn" type="submit" value=""/>
                </form>
            </div>
            <a href="#" class="menu-toggle" id="header-menu-toggle"><s class="bar"></s><s class="bar"></s><s
                    class="bar"></s></a>
        </div>
        <div class="navi pure-u-1 pure-u-md-2-5">
            <div class="pure-menu pure-menu-horizontal custom-can-transform">
                <ul class="pure-menu-list">
                  <li class="pure-menu-item <%= action_name == 'index' ? 'current' : '' %>"> <%= link_to "首页", root_path %> </li>
                  <li class="pure-menu-item <%= controller_name == 'discovers' ? 'current' : '' %>"> <%= link_to "发现", hot_discover_path %>
                            <!-- # 二级目录 -->
                            <div class="second-cate">
                                <ul>
                                    <li><%= link_to "火力榜", hot_discover_path %> </li>
                                    <li><%= link_to "频道", channel_discover_path %></li>
                                    <li><%= link_to "众筹", fund_raising_discover_path %></li>
                                    <li><%= link_to "商城", shop_discover_path %></li>
                                </ul>
                            </div>
                     </li>
                     <li class="<%= controller_name == "events" ? 'current' : '' %>"> <%= link_to "现场", events_path %> </li>
                     <% if current_user %>
                     <li class="<%= action_name == "me" ? 'current' : '' %>"><%= link_to "我的风景", me_path %></li>
                     <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
                   <% else %>
                     <li><%= link_to "我的风景", new_user_session_path %></li>
                   <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- ／ 页头 -->


<script>
    (function (window, document) {
    var header = document.getElementById('header'),
        WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize';

    function toggleHorizontal() {
        [].forEach.call(
            document.getElementById('header').querySelectorAll('.custom-can-transform'),
            function(el){
                el.classList.toggle('pure-menu-horizontal');
            }
        );
    };

    function toggleMenu() {
        // set timeout so that the panel has a chance to roll up
        // before the menu switches states
        if (header.classList.contains('open')) {
            setTimeout(toggleHorizontal, 500);
        }
        else {
            toggleHorizontal();
        }
        header.classList.toggle('open');
        document.getElementById('header-menu-toggle').classList.toggle('x');
    };

    function closeMenu() {
        if (header.classList.contains('open')) {
            toggleMenu();
        }
    }

    document.getElementById('header-menu-toggle').addEventListener('click', function (e) {
        toggleMenu();
    });

    window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);
    })(this, this.document);

</script>
