!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= Setting.title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render :partial => "widgets/header"
    .container-fluid.fc-container
      .fc-sidebar
        = render :partial => "widgets/admin_sidebar"
      .fc-main.container-fluid
        = render :partial => "widgets/breadcrumb"
        = render :partial => "widgets/message"
        = yield
    = render :partial => "widgets/footer"
