!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Atart
    = stylesheet_link_tag    'front_page', media: 'all'
    = javascript_include_tag 'front_page'
    = csrf_meta_tags
  %body
    = render :partial => "common/header"
    = yield
    - if controller_name == "welcome"
      = render :partial => "common/footer_2"
    - else
      = render :partial => "common/footer"
